-- STP Operations Data Insert Statements
-- Generated from STPOperation_export (1).csv
-- Total records: 518


-- Verify inserted data
SELECT COUNT(*) as total_records, MIN(date) as earliest_date, MAX(date) as latest_date FROM stp_operations;
